
/* $PAGE LAYOUT */
/* Vertical Center Blocks */
.align-center-container, .loading-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}
.align-center-item {
    flex: 1;
}

/* Full screen overlays */
.loading-overlay, .background-img {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* Make the loading text larger */
.loading-overlay h2 {
    font-size: 50px;
}

/*
 $CSS SPINNER
 Modified from: http://tobiasahlin.com/spinkit/
 */
.spinner {
    margin: 20px auto 40px;
    width: 70px;
    text-align: center;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}


/* $COMPONENTS */
/* Modal */
.modal.in {
    display: block;
}

/* List of images */
.list-img {
    display: block;
    height: 200px;
    white-space: nowrap;
    text-align: center; margin: 1em 0;
}
.list-img button {
    display: block;
    height: 100%;
    width: 100%;
    padding: 2px;
}
.list-img img {
    max-width: 100%;
    max-height: 195px;
    vertical-align: middle;
}

/* Tags */
.tag .label {
    color: #333;
    background-color: #f9f9f9;
    border: solid 1px #f0f0f0;
    padding-right: 0;
}
.tag .btn-link {
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .3;
    padding: 2px 3px 2px 8px;
}
.tag .btn-link:hover {
    text-decoration: none;
    color: #030303;
}

/* Full screen background image */
.background-img {
    z-index: 2;
    background-color: #030303;
}
.background-img img {
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    width: 100%;
    /* Add a blur and darken to the bg image */
    filter: blur(5px) brightness(.75);
}

/* Centered full sized image
 * Make it so that images are swapped in place by positioning them absolutely. This uses JS to adjust the vertical
 * position as the images within the container change.
 */
.img-container {
    z-index: 50;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.img-cell {
    position: absolute;
    left: 0;
    right: 0;
}

/* Misc */
.panel-heading .close {
    line-height: 14px;
}

/* $ANIMATIONS */
/* Fade transition for ng-swap */
.fade-in {
    transition: opacity 1s linear;
}
.fade-in.ng-enter {
    opacity: 0;
}
.fade-in.ng-enter-active {
    opacity: 1;
}
.fade-in.ng-leave {
    opacity: 1;
}
.fade-in.ng-leave-active {
    opacity: 0;
}
